---
layout: default
---

<div class="container">
  <div class="row">
    <div class="s12 m4 l8">
      <h4>{{ page.title }}</h4>
      <p>
        {{ page.date | date_to_string }}
        {% assign author = site.authors | where: 'short_name', page.author | first %}
        {% if author %}
        - <a href="{{ author.url }}">{{ author.name }}</a>
        {% endif %}
      </p>
    </div>
  </div>
  {{ content }}
</div>
<script src="{% link assets/js/plotroast.js %}" type="text/javascript"></script>
